html, body {
    min-width: 1260px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    overflow: hidden;
}

p{
    margin: 0;
    padding: 0;
}

#renderCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

#loadingContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/bg.jpg) no-repeat center center;
    background-size: 100% 100%;
    z-index: 3;
}

.panelView{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/bg.jpg) no-repeat center center;
    background-size: 100% 100%;
    z-index: 1;
}
.panelView>.panel{
    width: 18.5%;
    height: 170px;
    background: url(../images/item_bg.png) no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
}
.panelView>.panel>.name{
    width: 60%;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 6%;
}
.panel.row-1{
    top: 58px;
}
.panel.row-2{
    top: 258px;
}
.panel.row-3{
    top: 458px;
}
.panel.col-1{
    left: 6%;
}
.panel.col-2{
    left: 30%;
}
.panel.col-3{
    right: 30%;
}
.panel.col-4{
    right: 6%;
}
.panelView>.panel>.chart{
    width: 80%;
    height: 110px;
    position: absolute;
    bottom: 14px;
    left: 10%;
}
.panelView>.panel>.topLine{
    width: 68%;
    height: 1px;
    position: absolute;
    top: 56px;
    right: 10%;
    background: #4b8eb8;
}

#loadingText{
    color: rgb(61,139,255);
}
.cssload-spinner {
    position: absolute;
    width: 33px;
    height: 33px;
    left: 50%;
    top: 45%;
    margin-left: -17px;
    margin-top: -17px;
}
.cssload-spinner:after, .cssload-spinner:before {
    position: absolute;
    content: "";
    border: 2px solid rgb(61,139,255);
    width: 31px;
    height: 31px;
}
.cssload-spinner:after {
    animation: cssload-spinner1 2.88s linear infinite;
    -o-animation: cssload-spinner1 2.88s linear infinite;
    -ms-animation: cssload-spinner1 2.88s linear infinite;
    -webkit-animation: cssload-spinner1 2.88s linear infinite;
    -moz-animation: cssload-spinner1 2.88s linear infinite;
}
.cssload-spinner:before {
    width: 43px;
    height: 43px;
    margin-left: -6.5px;
    margin-top: -6.5px;
    animation: cssload-spinner2 2.88s linear infinite;
    -o-animation: cssload-spinner2 2.88s linear infinite;
    -ms-animation: cssload-spinner2 2.88s linear infinite;
    -webkit-animation: cssload-spinner2 2.88s linear infinite;
    -moz-animation: cssload-spinner2 2.88s linear infinite;
}



@keyframes cssload-spinner1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spinner1 {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spinner1 {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spinner1 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spinner1 {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes cssload-spinner2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@-o-keyframes cssload-spinner2 {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(-360deg);
    }
}

@-ms-keyframes cssload-spinner2 {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
    }
}

@-webkit-keyframes cssload-spinner2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes cssload-spinner2 {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(-360deg);
    }
}

@media screen and (max-width: 1260px) {
    body {
        overflow-x: scroll;
    }

    .panelView>.panel{
        width: 256px;
        height: 170px;
    }
    .panelView>.panel>.name{
        width: 154px;
        height: 38px;
        line-height: 38px;
        top: 0;
        left: 12px;
    }
    .panel.row-1{
        top: 58px;
    }
    .panel.row-2{
        top: 258px;
    }
    .panel.row-3{
        top: 458px;
    }
    .panel.col-1{
        left: 74px;
    }
    .panel.col-2{
        left: 358px;
    }
    .panel.col-3{
        right: 358px;
    }
    .panel.col-4{
        right: 74px;
    }
    .panelView>.panel>.chart{
        margin-left: -110px;
        width: 220px;
        height: 110px;
        bottom: 14px;
        left: 50%;
    }
    .panelView>.panel>.topLine{
        width: 198px;
        height: 1px;
        top: 56px;
        right: 18px;
    }
}