<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/mdui.min.css">
</head>
<body>
    <header>MVC APP based on koa, node, nunjucks</header>
    {% block main %} {% endblock %}
    <footer>Michael.Lu</footer>
    <script type="text/javascript" src="/static/js/mdui.min.js"></script>
</body>
</html>